body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    text-align: center;
  }
  
h1 {
    font: 26px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
  }

h2 {
    font: 16px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }

h3 {
    font: 12px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    text-align: left;
  }
  
.empty-square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 13px;
    height: 13px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 0;
    text-align: center;
    width: 13px;
  }

.filled-square {
    background: rgb(87, 85, 85);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 13px;
    height: 13px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 0;
    text-align: center;
    width: 13px;
  }
  
div {
    max-width: 100%;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
